<!doctype html>
<head>
    <title>Resurrect the Evolution</title>
    <style>
        body{padding:50px;}
        #gen_form{margin-bottom:50px;}
        #gen_form textarea{width:100%;}
        #results div{margin-bottom:50px;}
    </style>
</head>
<body>
    <h1>Resurrect the Evolution</h1>
    <div id="gen_form">
        <form action="" method="post">
            <p id="row_lang_name">
                <label for="inp_lang_name">Language name</label>
                <br />
                <input id="inp_lang_name" type="text" name="lang_name" value="{{ lang_name|safe }}" />
            </p>
            <p>
                <label for="inp_input_text">Text to translate</label>
                <br />
                <textarea id="inp_input_text" name="input_text" rows="15">{{ input_text|safe }}</textarea>
            </p>
            <p>
                <input type="submit" value="Create language" />
            </p>
        </form>
    </div>
    {% if translated %}
        <div id="results">
            <div id="translated">
                <h2>Translation</h2>
                <div>
                    {{ translated|safe|nl2br }}
                </div>
            </div>
            <div id="grammar">
                <h2>Grammar</h2>
                <div>{{ grammar|safe|nl2br }}</div>
            </div>
            <div id="orpho_dictionary">
                <h2>Dictionary</h2>
                <div>{{ orpho_dictionary|safe|nl2br }}</div>
            </div>
        </div>
    {% endif %}
</body>
